*
{
 box-sizing: border-box;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin: 5px; */
}
body
{
    background-color: azure;
}
header
{
    background-color:steelblue;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}
.list
{
    background-color:skyblue; 
    list-style: none;
    border-radius: 10px;
    text-align: right;
    margin: 5px;
}
.list li
{
    display: inline-block;
    padding: 3px;
    margin: 10px;
    background-color: steelblue;
    border-radius:20px;
}
.list li a
{
    text-decoration: none;
    padding: 2px;
    font-size: 100%;
    font-family:Verdana, sans-serif;
    margin-right: 50x;
    color: white;
    
}
.list li a:hover
{
    background-color: turquoise;
    border-radius: 20px;
    opacity: 0.8;
}
img
{
    width: 100%;
    height: 20%;
    border-radius: 10px;
}

.main
{
    background-color: rgba(216, 191, 216, 0.616);
    padding: 2%;
    border-radius: 10px;
    margin: 5px;
    width: 60%;
    float: left;
    text-align: center;
    clear: left;
    text-align: justify;
}
.menu
{
    background-color: honeydew;
    padding: 2%;
    border-radius: 10px;
    width: 39% ;
    clear:right;
    float: right;
    text-align: center;
    text-align: justify;
}    
.bottom
{
    clear: both;
} 
article
{
    background-color:lightgrey;
    padding: 2%;
    border-radius: 10px;
    margin: 5px;
}
footer
{
    background-color:steelblue;
    text-align: center;
    clear: both;
    margin: 5px;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
}
@media screen and ( max-width:1000px)
{
    .main, .menu, .bottom, img
    {
        width: 100%;
    }
}
video
{
    border-radius: 10px;
    height: 20%;
}
